:root {
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-optical-sizing: auto;
	font-family: 'JetBrains Mono', monospace;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type=number] {
	-moz-appearance: textfield;
}

.default-master-table {
	width: 100%;
	border-collapse: collapse;
	font-size: 12px;
	line-height: 1;

	th {
		text-align: left;
		padding: 0;
	}

	td {
		padding: 4px;
		height: 26px;
	}

	th, td {
		border: 1px solid black;
	}

	tr:nth-child(even) {
		background: rgba(0, 0, 0, .1);
	}

	&.full {
		div[class*="i-mi\:"] {
			&::before {
				content: attr(data-tip);
				display: flex;
				z-index: 1;
				background-color: white;
				bottom: 100%;
				width: 100%;
				height: 100%;
				font-size: 10px;
				align-items: center;
				padding: 0 2px;
			}
		}
	}
}

.v-enter-active,
.v-leave-active {
	transition: opacity 0.25s ease;
}

.v-enter-from,
.v-leave-to {
	opacity: 0;
}
