:root {
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-optical-sizing: auto;
	font-family: 'JetBrains Mono', monospace;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type=number] {
	-moz-appearance: textfield;
}

.default-master-table {
	border-collapse: collapse;
	font-size: 12px;
	line-height: 1;

	th {
		text-align: left;
	}

	th, td {
		border: 1px solid rgb(96, 165, 250);
		padding: 8px;
	}

	tr:nth-child(even) {
		background: rgba(96, 165, 250, .2);
	}
}
